<ion-view view-title="Stores">
 <ion-nav-buttons side="secondary">
   <button ng-click="openModal();" class="button button-icon"><i class="icon ion-ios-plus"></i></button>
 </ion-nav-buttons>


  <ion-content>

    <p ng-show="!stores.length" style="text-align:center;">You haven't added any stores. Click the + to add a store.</p>
<ion-list>

        <ion-item ng-repeat="stores in stores track by $index">
        
       
   
        
        </ion-item>

      </ion-list>

    
    
  </ion-content>

 
</ion-view>