<ion-view view-title="Product Sections" hide-back-button="false">

    <ion-nav-buttons side="right">
    <span ui-sref="app.cart" >
      <button class="button button-clear icon ion-android-cart white-color">
        
      </button>
      <span ng-show="cart.products.length" class="cart-badge ng-hide">{{cart.products.length}}</span>
    </span>
    </ion-nav-buttons>

  <ion-content>
<ion-list>

        <ion-item ng-repeat="product in products">
        
          {{product.$id}}
        
        </ion-item>

      </ion-list>

    
    
  </ion-content>
</ion-view>
